<div class="container">
    <div class="mb-5 mt-5 d-flex flex-column gap-3">
        <h1>Donna's Sentiment Analysis</h1>
        <form (ngSubmit)="onSubmit()" class="d-flex flex-column gap-1">
            <h6>Please Enter your text</h6>
            <textarea [(ngModel)]="text" name="text"></textarea>
            <div class="d-flex flex-row mt-3 gap-4">
                <button type="submit" class="btn btn-success">Get Results</button>
                <div class="d-flex flex-row gap-3">
                    <div class="icon pos"></div>
                    <div class="icon neu"></div>
                    <div class="icon neg"></div>
                </div>
            </div>
        </form>
    </div>
</div>
