textarea {
    resize: none;
    overflow: auto; /* Hide scrollbars if needed */
    max-width: 900px;
    height: 200px;
    border-radius: 8px;
    background-color: #F3F3F3;
    border: none;
    padding: 10px 13px 10px 13px;
    font-size: 18px;
}

textarea:focus {
    outline: 2px solid #1F2937;
  }

button{
    background-color: #66C78B;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    width: 140px;
}

h1{
    font-size: 50px;
}

h6, button{
    font-size: 17px;
}